:root {
    --colorFondo: #eee2ce
}

body {
    background-color: var(--colorFondo);
    margin: 1px;
    color: black;
}


/*Color de la barra */

.header {
    overflow: hidden;
    background-color: #ffcabc;
    padding: 5px 10px;
}


/* Style the header links */

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    font-family: fairwater-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 10px;
    border-radius: 10px;
}


/* Change the background color on mouse-over */

.header a:hover {
    background-color: #f6eee1;
    color: #2d1303;
}


/* Style the active/current link*/

.header a.active {
    color: black;
}


/* Float the link section to the right

.header-right {
    float: none;
}
*/


/* responsive Menu */

@media screen and (max-width: 780px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: left;
    }
}


/* Tamaño adaptable de imagen portada */

.responsive {
    width: 100%;
    height: auto;
}

.content-inner {
    background-color: #ffffff;
}

.content-inner {
    padding: 10px 10px;
}

.content-inner {
    padding: 10px;
}

div {
    padding: 35px;
    display: block;
}