:root {
    --colorFondo: #eee2ce
}

body {
    background-color: var(--colorFondo);
    margin: 1px;
    color: black;
}


/*Color de la barra */

.header {
    overflow: hidden;
    background-color: #ffcabc;
    padding: 5px 10px;
}


/* Style the header links */

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 24px;
    font-family: fairwater-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 5px;
    border-radius: 10px;
}


/* Change the background color on mouse-over */

.header a:hover {
    background-color: #f6eee1;
    color: #2d1303;
}


/* Style the active/current link*/

.header a.active {
    background-color: #f6eee1;
    color: #2d1303;
}


/* Float the link section to the right

.header-right {
    float: none;
}
*/


/* responsive Menu */

@media screen and (max-width: 780px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: left;
    }
}


/* Tamaño adaptable de imagen portada */

.responsive {
    width: 100%;
    height: auto;
}

.content-inner {
    background-color: #ffffff;
}

.content-inner {
    padding: 10px 10px;
}

.content-inner {
    padding: 10px;
}

div {
    padding: 45px;
    display: block;
}


/*Barra desplegable*/

@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-family: fairwater-sans, sans-serif;
}

nav {
    width: 20%;
    max-height: 0px;
    overflow: hidden;
    transition: 1s all;
}

.mostrar {
    max-height: 500px;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    display: block;
    line-height: 50px;
    border-bottom: 1px solid #ffcabc;
    background-color: #ffcabc;
    color: #2d1303;
    font-size: 1.2em;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #ffcabc;
    color: #fff;
}

.menu {
    padding: 20px;
    background-color: #ffcabc;
    color: #2d1303;
    width: 15%;
    cursor: pointer;
}

