:root {
    --colorFondo: #eee2ce
}

body {
    background-color: var(--colorFondo);
    margin: 10px;
    color: black;
}


/*Color de la barra */

.header {
    overflow: hidden;
    background-color: #ffcabc;
    padding: 20px 10px;
}


/* Style the header links */

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 30px;
    line-height: 25px;
    border-radius: 4px;
}


/* Change the background color on mouse-over */

.header a:hover {
    background-color: #f6eee1;
    /* #ffcabc;*/
    color: #2d1303;
}


/* Style the active/current link*/

.header a.active {
    color: black;
}


/* Float the link section to the right

.header-right {
    float: none;
}
*/


/* responsive Menu */

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: left;
    }
}


/* Tamaño adaptable de portada */

.responsive {
    width: 100%;
    height: auto;
}